#[submodule "lib/HipChat.net"]
#	path = lib/HipChat.net
#	url = https://github.com/hugorodgerbrown/HipChat.net.git

[submodule "lib/HipChat.net"]
	path = lib/HipChat.net
	url = https://github.com/versionone/HipChat.net.git
